.landingpage{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    position: relative;
    height: 90vh;
  }
  .header-button{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    position: absolute;
    bottom: 25%;

    transform: translateZ(1px);
    animation-delay: 1.6s;

    border-radius: 3rem;
    border-style: outset;
    border-color:#4fcf76ad;
    border-color:linear-gradient(to right, #534c0380, #28696491);
    border-width: .45rem;

    background: rgba(255, 255, 255, 0.699);
    box-shadow: #e7e0907a 0px 5px 30px 10px ;
    
    color: black;
    
    font-size: 2rem;
    font-family:'Montserrat', sans-serif;
    font-weight: 800;
  }
  .header-button:hover{
    background: #3CA55C;
    background: linear-gradient(to right, #ffea05da, #55e0d4c5);
    box-shadow: #e7e0907a 0px 5px 30px 10px ;
    
    color: white;
    text-shadow: black 3px 3px 3px;
    transition: ease-in;
  }
  .landing-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 50%;
    position: absolute;
    color: white;    
  }
  .landing-title{
    animation-delay: 1.4s;
  margin-top: 100px;
  background-color: black;
  padding: .55rem;
  border-radius: 30px;
}
.landing-title2{
  animation-delay: 1.6s;
  background-color: black;
  border-radius: 30px;
  padding: .55rem;
}