.landingpage{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
  }
  .header-button{
    width: 100px;
    height: 50px;
    margin-top: 100px;
    transform: translateZ(1px);
    position: relative;
    animation-delay: 1.6s;
    bottom: 10vh;
}

.landing-title{
  animation-delay: 1.4s;
  margin-top: 100px;
}
.landing-title2{
animation-delay: 1.6s;
}