.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.factil-page{
   background: #3CA55C;  /* fallback for old browsers*/
  background: -webkit-linear-gradient(to right, #ffea0593, #55e0d598);  /* Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient(to right, #ffea0593, #55e0d598), url('../../src/img/bg.jpg') no-repeat bottom ;
}

.factures-container{
  width: 500px;
  box-shadow: 2px 5px 20px gray;
  margin: auto;
  margin-top: 10px;
  background-color: rgba(245, 245, 220, 0.815);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
