.main-landing{
    grid-column: 1/ 9;
    grid-row: 1/10;

}
.arrow {
    z-index: 10;
    position: absolute;
    animation: no-transform 2s ease-in-out forwards;
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 3px;
    display: block;
    opacity: 0;
    transform: translate(-1rem, -1rem);
}
.navigation{
    background-color: rgba(255, 255, 0, 0.664);
    margin-left:0px;
    position: fixed;
    width: 25%;
    z-index: 13;
}