.main-landing{
    grid-column: 1/ 9;
    grid-row: 3 /10;
}
.arrow {
    z-index: 10;
    position: absolute;
    animation: no-transform 2s ease-in-out forwards;
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 3px;
    display: block;
    opacity: 0;
    transform: translate(-1rem, -1rem);
}
