
@media (min-width: 721px) {



}

.App {
 height: 90vh;    
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(16, 100px);
  grid-gap: 12px 24px;
}
.animate-pop-in{
  animation: pop-in 0.5s ease-out both;
}

.arrow-container{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 5vh;
  display: flex;
  justify-content: center; 
  position: relative;
}
.bounce {
  animation: bounce 2s  cubic-bezier(0.280, 0.840, 0.420, 1) infinite;
}



@keyframes no-transform{
 to{
  opacity: 1;
  transform: none;
 }
}


@keyframes pop-in{
  from{
      opacity: 0;
      transform: scale(.8);
  }
  70%{
      opacity: 1;
      transform: scale(1.25);
  }
  to{
      opacity: 1;
      transform: none;
  }
}

@keyframes little-rotate{
  100%{
    transform: rotateZ(-5deg)
  }
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translate(0); }
  10%  { transform: scale(1.1,.9)   translate(0); }
  40%  { transform: scale(.9,1.1)   translate(-15px,-15px ); }
  50%  { transform: scale(1.05,.95) translate(0); }
  60%  { transform: scale(1,1)      translate(-10px, -10px); }
  70%  { transform: scale(1,1)      translate(0); }
  80%  { transform: scale(1,1)      translate(-5px, -5px); }
  100% { transform: scale(1,1)      translate(0); }
}