
@media (min-width: 721px) {



}

.App {
    
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(16, 100px);
  grid-gap: 12px 24px;
}
.shadow{ 
  text-shadow: black 5px 2px 3px;
}
.page{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left-bg{
  overflow: hidden;
  background: #3CA55C;  /* fallback for old browsers*/
  background: -webkit-linear-gradient(to right, #ffea0593, #65e05598);  /* Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient(to right, #faea3d93, #6dd16098); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  height: 100%;
  grid-row: 1;
}

.left-content{
  display: flex;
  grid-column: 1/2;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.right-bg{
  overflow: hidden;
  background: #3CA55C;  /* fallback for old browsers*/
  background: -webkit-linear-gradient(to left, #ffea0593, #65e05598);  /* Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient(to left, #faea3d93, #6dd16098); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  grid-column: 2/3;
  grid-row: 1;
}
.right-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2/3;
  z-index: 1;
}

.page-content{
  padding: 3rem 3rem;
}
.page-title{
  margin-bottom: 20px;
  background-color: black;
  border-radius: 30px;
  padding: .55rem;
  color: white;
}
.page-subtitle{
  margin-bottom: 20px;
  background-color: black;
  border-radius: 30px;
  padding: .55rem;
  color: white;
}

.animate-pop-in{
  animation: pop-in 0.5s ease-out both;
}

.arrow-container{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 5vh;
  display: flex;
  justify-content: center; 
  position: relative;
  z-index: 15;
}
.bounce {
  animation: bounce 2s  cubic-bezier(0.280, 0.840, 0.420, 1) infinite;
}



@keyframes no-transform{
 to{
  opacity: 1;
  transform: none;
 }
}


@keyframes pop-in{
  from{
      opacity: 0;
      transform: scale(.8);
  }
  70%{
      opacity: 1;
      transform: scale(1.25);
  }
  to{
      opacity: 1;
      transform: none;
  }
}

@keyframes anchor-underline {
  0%, 10% {
    left:0 ;
    right:100 ;
  }
  40%, 60% {
    left:0 ;
    right:0 ;
    
  }
  90%, 100%{
    left:100% ;
    right: 0;

  }
}

@keyframes little-rotate{
  100%{
    transform: rotateZ(-5deg)
  }
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translate(0); }
  10%  { transform: scale(1.1,.9)   translate(0); }
  40%  { transform: scale(.9,1.1)   translate(-15px,-15px ); }
  50%  { transform: scale(1.05,.95) translate(0); }
  60%  { transform: scale(1,1)      translate(-10px, -10px); }
  70%  { transform: scale(1,1)      translate(0); }
  80%  { transform: scale(1,1)      translate(-5px, -5px); }
  100% { transform: scale(1,1)      translate(0); }
}