.aboutme{
    display: flex;
}


.aboutme-articles{
    background: #3CA55C;
    width: 50%;
}

.logo-container{
    background:  #ffea0593;
display: flex;
width: 50%;
justify-content: center;
font-weight: 300vh;
animation-delay: 1s;
}
.logo-content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-link img{
    max-width: 100%;
}